<ion-content mode="ios">
  <div class="scroll">
    <ion-grid>
      <ion-row>
        <ion-col class="d-flex-center ion-text-center mt-4" >
          <a routerLink="/home">
        <ion-icon  name="home-outline" size="large"></ion-icon>
        <ion-label>Inicio</ion-label>
      </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="d-flex-center ion-text-center mt-4" >
          <a routerLink="/home">
          <ion-icon name="person-outline" size="large"></ion-icon>
      <ion-label>Acerca de Mi</ion-label>
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="d-flex-center ion-text-center mt-4" >
          <a routerLink="/home">
          <ion-icon name="code-slash-outline" size="large"></ion-icon>
      <ion-label>Skills</ion-label>
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="d-flex-center ion-text-center mt-4" >
          <a routerLink="/home">
          <ion-icon name="laptop-outline" size="large"></ion-icon>
      <ion-label>Portfolio</ion-label>
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="d-flex-center ion-text-center mt-4" >
          <a routerLink="/home">
          <ion-icon name="mail-outline" size="large"></ion-icon>
      <ion-label>Contacto</ion-label>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
</ion-content>
